button
  color #fff
  background-color: #996bde
  width: 100%
  max-width: 220px
  height: 50px
  margin-top: 20px
  border: none
  font-family: 'Orbitron', sans-serif
  font-weight: 700
  transition: 0.4s
  margin-bottom: 50px
  &:hover
    box-shadow 0 3px 10px 0 #996bde

h1
  font-family: 'Orbitron', sans-serif
  width: 100%
  color #fff
  font-size 42px
  margin-bottom: 50px


.hero
  width: calc(25% - 30px);
  margin-bottom: 30px
  background-color: #fff
  box-shadow 2px 4px 20px 0 rgba(0,0,0,.4)
  overflow hidden
  margin-right: 30px
  border-radius 8px
  &__img
    overflow hidden
    max-height 500px
  &__title
    padding 15px
    font-size 30px
    color #323232
  &__description
    font-size 11px
    padding-left: 15px;
    padding-right: 15px
    padding-bottom: 30px
img
  width: 100%;

.http
  display flex
  flex-wrap wrap
