ul
  display flex

li
  list-style none
  border 2px solid #f2f2f2;
  padding 10px 5px
  margin-right: 5px
  color #333
  border-radius 8px
  cursor pointer
  transition .4s
  &:hover
    background-color: #f2f2f2

